<div class="top-banner-ecommerce-site-search-trends bg-blue-800 text-center">
    <div class="flex justify-center max-w-screen-2xl mx-2 py-3 flex items-center">
        <a class="banner-text text-decoration-none" href="#">
            <p class="hidden lg:block text-white">Solicita aquí tu estudio gratuito de tu buscador eCommerce para mejorar margen y ventas gracias a la inteligencia artificial.</p>
            <p class="block sm:block lg:hidden">Estudio gratuito para mejorar ventas.</p>
        </a>
        <button class="closer-banner cursor-pointer app-none bgc-transparent mx-2 pt-1"><svg xmlns="http://www.w3.org/2000/svg" class="closer-banner-svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
    </div>
</div>
